.u-section-1 .u-sheet-1 {
  min-height: 354px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Roboto, sans-serif;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-family: "Open Sans", sans-serif;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.625rem;
    width: auto;
    font-family: Poppins;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-family: Poppins;
    margin: 26px 0 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 44px auto 44px 0;
}

.u-section-2 .u-image-1 {
  min-height: 574px;
  background-image: url("images/ccd6bfd1aebd2eb9f160f505c695ab4c2bab72a8d97c55aa0a3eeb7a20aee00bd0ef886b6d319b3a3e5f13b0489207495ed4f16114e28b7a6d6a27_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-2 {
  padding: 25px 29px;
}

.u-section-2 .u-text-1 {
  margin: 0 1px;
}

.u-section-2 .u-text-2 {
  margin: 62px 1px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 0 0 0 18px;
}

.u-section-2 .u-text-4 {
  margin: 62px 0 0 19px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 505px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-2 .u-text-5 {
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 18px 1px 0;
}

.u-section-2 .u-text-6 {
  margin: 41px 1px 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 505px;
}

.u-section-2 .u-container-layout-5 {
  padding: 23px 24px;
}

.u-section-2 .u-text-7 {
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 33px 12px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 81px 17px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 473px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 416px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 416px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-2 .u-image-1 {
    min-height: 725px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-2 .u-image-1 {
    min-height: 544px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1213px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 322px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 202px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 272px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 39px;
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 320px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-5 {
    --radius: 25px;
    min-height: 348px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 41px;
  }
}